body {
  background-color: black;
}

main:body { background: black }

Header.top {
  font-family: 'Rammetto One', cursive;
  border-bottom: solid thin black;
  margin: 0;
}

.logo-circle {
  font-weight: bold;
  background-color:#fff;
  border:3px solid red;
  height:50px;
  width:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
