 @import "bootstrap";

div #top_banner {
  font-family: 'Rammetto One', cursive;
  background-color: white;
  width: 100%;
  margin: 0px;
}

body {

  background-color: #e9ece5;
}

.card {
  margin: 5px;
}
