<div class="row content-box">
  <div class="col-10 d-flex flex-wrap">
    <%= render 'form', menu: @menu %>
    <%= link_to 'Back', menus_path %>
  </div>
  <div class="col-2 navsidebar">
    <%= render 'navside'%>
  </div>
</div>
