<div class="row content-box">
  <div class="col-10">
    <div class="card">
      <div class="card-header pl-4">
        <p class="h5"><strong>New Menu</strong></p>
      </div>
      <div class="card-content p-4">
        <%= render "form" %>
      </div>
    </div>
  </div>
  <div class="col-2 navsidebar">
    <%= render 'navside'%>
  </div>
</div>
