/* Header Style  */

Header{

  .top{
    font-family: 'Rammetto One', cursive;
    width: 100%;

    img{
      width: 50px;
      height: 50px;
    }
  }
  .top-banner{
    background-color: #222529;
    height: 20px;
    border-bottom: thin solid crimson;
  }
}


/* Patron Menu Style */

main {
  margin-top: 5px;
  padding: 10px;
  background-color:#F2F1F1;
  background-image:
  radial-gradient(circle at 100% 150%, #F2F1F1 24%, white 25%, white 28%, #F2F1F1 29%, #F2F1F1 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #F2F1F1 24%, white 25%, white 28%, #F2F1F1 29%, #F2F1F1 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, #F2F1F1 11%, #F2F1F1 23%, white 24%, white 30%, #F2F1F1 31%, #F2F1F1 43%, white 44%, white 50%, #F2F1F1 51%, #F2F1F1 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, #F2F1F1 6%, #F2F1F1 15%, white 16%, white 20%, #F2F1F1 21%, #F2F1F1 30%, white 31%, white 35%, #F2F1F1 36%, #F2F1F1 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, #F2F1F1 6%, #F2F1F1 15%, white 16%, white 20%, #F2F1F1 21%, #F2F1F1 30%, white 31%, white 35%, #F2F1F1 36%, #F2F1F1 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.menu-container {
   display: flex;
   flex-wrap: wrap;
   padding: 10px;

   .menu-card{
     width: calc(50% - 2 * 5px);
     margin: 10px;
   }

   .menu-description{
     overflow: hidden;
       display: -webkit-box;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical;
   }
 }

.menu-container:last-child {
  align-self: flex-start;
}


// ===================   Item Page Style ========================


.item-container {

  .CardHeader{
    background-color: crimson;
    padding-bottom: 0px;

    .CardTitle{
      color: white;
      font-weight: bold;
    }
  }

  .items-card{
    width: calc(100%);
    margin-bottom: 5px;
  }
  .item-title-wrapper{
    background-color: crimson;
  }
}



// ===================   LeftMenu Style ========================


.col-2{
  margin: 0px;
  .LeftMenu{
    padding: 0px;
     .left-menu{
       width: 100%;
       margin-bottom: 10px;
     }
  }
}


// ==================== Order Style============================


.Order {
  background-color: crimson;
  border: thin solid black;
}


// ==================   404 Page Not Found ======================

.PageNotFound{
  margin-top: 100px;
  text-align: center;
}
